* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	align-items: center;
	height: 100vh;
	background-color: rgb(226, 230, 233);

	.header {
		width: 37vw;
		background-image: url('../img/background-image.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		color: whitesmoke;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		.title {
			padding: 3rem 0;
			background-color: rgba(22, 22, 22, .4);
			width: 100%;
			text-align: center;
			margin-top: 14rem;

			h1 {
				font-size: 3.5rem;
				font-weight: 600;
			}
		}

		.footer {
			font-size: 18px;
		}
	}

	.form-container {
		width: 63vw;

		.text {
			padding: 0rem 2rem;
			margin-bottom: 2rem;
		}


		form h2 {
			background-color: whitesmoke;
			padding: 1rem 2rem;
		}

		form .section-inputs {
			padding: 0rem 1rem;
			background-color: whitesmoke;
			display: flex;
			flex-direction: column;
			margin-bottom: 1rem;
			box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.278);

			.pares {
				display: flex;
				padding: .5rem 1rem;

				div {
					display: flex;
					flex-direction: column;
					width: 45%;

					label {
						font-size: .9rem;
						font-weight: 600;
						margin-top: .6rem;
					}

					input {
						padding: 4px 12px;
						border: 2px solid #2f2f2f;
						border-radius: 4px;
						width: 75%;
					}

					input:valid {
						border: 2px solid rgb(0, 60, 128);
						border-radius: 4px;
					}

					input:invalid {
						border: 2px solid rgba(233, 19, 37, 0.884);
						border-radius: 4px;
					}
				}
			}

			.pares:nth-last-child(1) {
				padding-bottom: 2rem;
			}



		}
	}
}