@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

.container {
	display: flex;
	align-items: center;
	height: 100vh;
	background-color: rgb(226, 230, 233);

	.header {
		width: 37vw;
		background-image: url('../img/background-image.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		color: whitesmoke;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		.title {
			padding: 3rem 0;
			background-color: rgba(22, 22, 22, .4);
			width: 100%;
			text-align: center;
			margin-top: 14rem;

			h1 {
				font-size: 3.5rem;
				font-weight: 700;
			}
		}

		.footer {
			font-size: 16px;
		}
	}

	.form-container {
		width: 63vw;

		.text {
			padding: 0rem 2rem;
			padding-right: 12rem;
			margin-bottom: 2rem;
			font-size: 1.5rem;
			font-weight: 700;
		}


		form h2 {
			background-color: whitesmoke;
			padding: 1rem 2rem;
		}

		form .section-inputs {
			padding: 0rem 1rem;
			background-color: whitesmoke;
			display: flex;
			flex-direction: column;
			margin-bottom: 1rem;
			box-shadow: 0 5px 4px rgba(0, 0, 0, 0.278);

			.pares {
				display: flex;
				padding: .5rem 1rem;

				div {
					display: flex;
					flex-direction: column;
					width: 45%;

					label {
						font-size: .9rem;
						font-weight: 600;
						margin-top: .6rem;
					}

					input {
						padding: 4px 12px;
						border: 2px solid #2f2f2f;
						border-radius: 4px;
						width: 75%;
						font-size: 18px;
						font-weight: 500;
					}

					input:valid {
						border: 2px solid rgb(0, 60, 128);
						border-radius: 4px;
					}

					input:invalid {
						border: 2px solid rgba(233, 19, 37, 0.884);
						border-radius: 4px;
					}
				}
			}

			.pares:nth-last-child(1) {
				padding-bottom: 2rem;
			}
		}

		form .footer-form {
			padding-left: 2rem;
			padding-top: 1rem;

			.submit {
				border: none;
				padding: 8px 14px;
				border-radius: 4px;
				background-color: rgba(57, 92, 16, 0.884);
				color: whitesmoke;
				font-size: 16px;
			}


			p {
				margin-top: 2rem;
				font-size: 18px;

				a {
					text-decoration: none;
					color: rgba(57, 92, 16, 0.884);
				}
			}
		}
	}
}